name : Integration

on :
  push :
    branches :
      - main
  pull_request :
    branches :
      - main 
workflow_dispatch :

jobs :
  tests-and-build:
    runs-on : ubuntu-latest
  
  strategy :
    matrix :
      node-version : [18.x]
    
  steps :
    - name : checkout code
    - uses : actions/checkout@v4

    - name : Set up Node.js
    - uses : actions/setup-node@v3
    - with :
        node-version : ${{matrix.node-version}}
        cache : 'npm h j jn0uiknjnui'