name: Integration
on:
  push:
        branches: [ test-ci-pr ]
  pull_request:
        branches: [ test-ci-pr ]
  workflow_dispatch:

jobs:
    test-and-build:
        runs-on : ubuntu-latest

        strategy:
            matrix:
              node-version: [18.x, 20.x, 22.x]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
            - name : Install Dependencies
              run: npm i
            - name: Run Linter
              run: npm run lint
            - name: Run Tests
              run: npm run test
            - name: Build the Project
              run: npm run build

        


